<%= action_title 'Bem vindo'%>

<div>
  <h2>Descrição</h2>
  <p>Crie seu chá de bebê e deixe de acumular dezenas de fraudas na sua casa!</p>
</div>

<div>
  <%= link_to "Criar um chá!", new_user_path %>
</div>